 @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    text-align: center;
    color: bisque;
    font-size: 30px;
    background: url(background.jpg);
    background-attachment: fixed;
}

.top {
    display: flex;
    justify-content: space-between;

}


.logo {
    display: flex;
    padding-left: 20px;
    margin-top: 20px;
    padding: 18px;
    background: rgb(235, 226, 187);
    border-radius: 90px;
}

.logo1 {
    padding-left: 20px;
    margin-top: 20px;
    padding: 18px;
    background: rgb(235, 226, 187);
    border-radius: 90px;
}



h2 {
    font-family: 'Pacifico', cursive;
}

.spisok {
    display: flex;
}

.telegram {
    font-size: 30px;
    color: #00a4e3;
    background: #b6dceb;
    border-radius: 10px;
    padding: 8px 13px;
}

.telegram:hover {
    background: #89bed3;
}

.telegram:active {
    background: #4d97b4;
}

.register1 {
    padding: 35px 30px;
}

.register {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #000;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.mainq {
    font-family: 'Roboto', sans-serif;
}

.pba {
    color: rgb(113, 224, 69);
}

.slender {
    color: rgb(8, 8, 8);
}

.resrun {
    color: blueviolet;
}

.bags {
    color: #000;

}

.login { 
    border: 1px solid rgb(75, 75, 75); width: 550px;
    border-radius: 5px;
    background-color: grey;
    padding: 10px;
    margin: auto;
    
}

.pustota {
    min-height: 240px;
}

footer {
    background-color: rgb(189, 184, 184);
    padding-bottom: 10px;
    margin: auto;
    
}

a {
    color: black; text-decoration: none;
}

.btn:hover {
    text-decoration: underline;
}

.btn:active {
    color: bisque;
}

.btn1 {
    color:rgb(192, 105, 23);
    background: bisque;
    font-size: 20px;
    padding: 4px 20px;
    font-weight: 700px;
    width: 700px;
    border-radius: 10px;
}

.btn1:hover {
    background: rgb(240, 207, 166);
}

.btn1:active {
    background: rgb(223, 178, 124);
}